#titel{
    display: none;
}

#foto2, #foto4, #foto6, #foto8, #foto10, #contact-foto2, #cloudsecurity2{
    display: none;
}

.icon-wit{
    color: white;
}

@media (min-width: 768px) {
    #titel {
        display: flex;
    }

    #foto2, #foto4, #foto6, #foto8, #foto10, #contact-foto2, #cloudsecurity2{
        display: flex;
    }

    #foto1, #foto3, #foto5, #foto7, #foto9, #contact-foto1, #cloudsecurity1{
        display: none;
    }



}