.navbar-logo {
  width: 50px;
}

.backgroundcolor{
  background-color: #2B3035;
}

.foto {
  width: 25vw;
}

span {
  color: red;
}

.space {
  padding-top: 3rem;
}

#apMap{
  width: 100%;
  height: 40vh;
}
